[ssh]
; can be True / False 
https=False
baseurl=https://github.com
privateKey=

[repository]
;list =
;    https://github.com/vigneshkmr84/kafka-streams-project.git
;    https://github.com/vigneshkmr84/spring-boot-security-jwt.git
;    https://github.com/vigneshkmr84/kafka-validator-service.git
list=
    git@github.com:vigneshkmr84/kafka-streams-project.git
    git@github.com:vigneshkmr84/spring-boot-security-jwt.git
    git@github.com:vigneshkmr84/kafka-validator-service.git
    git@github.com:almerico/bombardier.git
    git@github.com:ministryofjustice/modernisation-platform.git
    git@github.com:cat-milk/Anime-Girls-Holding-Programming-Books.git
